.title {
  padding-top: 5px;
  font-size: 10px;
}

.quick_numbers {
  height: 74px;
  padding: 5px;
  border-radius: 10px;
  background-color: #222;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
}
.quick_number {
  height: 30px;
  margin-bottom: 3px;
  border-radius: 10px;
  background-color: #0F4C75;
  box-shadow: 0 2px #999;
  padding: 0 10px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.quick_number:active {
  transform: translateY(2px);
  font-weight: 500;
}
.quick_number_empty {
  height: 30px;
  margin-bottom: 3px;
  border-radius: 10px;
  background-color: #3282B8;
  padding: 0 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 10px;
}

.typed {
  position: absolute;
  bottom: 305px;
  left: 0;
  width: 360px;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #ddd;
  color: black;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  word-break: break-all;
  overflow-y: auto;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.log::-webkit-scrollbar, .typed::-webkit-scrollbar {
  width: 4px;
}
.log::-webkit-scrollbar-thumb, .typed::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.log::-webkit-scrollbar-track, .typed::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px white;
}

.log-title {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 80px;
  border-radius: 5px;
  background-color: #7D5A50;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  
  font-size: 10px;
  opacity: 0.5;
}

.keypads {
  position: absolute;
  bottom: 50px;
  left: 0;
  margin: 2px;
  width: calc(100% - 4px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

button.keypad {
  width: 70px;
  height: 46px;
  margin: 1px 0 3px 0;
  border-radius: 10px;
  border: solid 1px gray;
  padding: 5px;
  background-color: #ddd;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  box-shadow: 0 2px #999;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -2px;
  cursor: pointer;
}
button.keypad:active {
  transform: translateY(1px);
  font-weight: 500;
}
button.keypad-info {
  border: none;
  font-size: 10px;
}

.logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  justify-content: center;
  align-items: center;
  font-family: 'Megrim', cursive;
  font-size: 24px;
}
.usage-btn {
  border: none;
  background-color: #222;
  color: #aaa;
  font-size: 16px;
}