.App {
  position: relative;
  width: 360px;
  height: 780px;
  background-color: black;
  color: white;
  text-align: center;
}

.title {
  font-size: 8px;
}

.memo {
  height: 120px;
  margin-bottom: 5px;
  background-color: beige;
}

.log {
  height: 226px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: beige;
  color: black;
  text-align: left;
  font-size: 18px;
  word-break: break-all;
  overflow-y: auto;
}

.typed {
  position: absolute;
  bottom: 242px;
  left: 0;
  width: 360px;
  height: 60px;
  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: #ddd;
  color: black;
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  word-break: break-all;
  overflow-y: auto;
}

.log::-webkit-scrollbar, .typed::-webkit-scrollbar {
  width: 4px;
}
.log::-webkit-scrollbar-thumb, .typed::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 4px;
  background-clip: padding-box;
  border: 1px solid transparent;
}
.log::-webkit-scrollbar-track, .typed::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 4px;
  box-shadow: inset 0px 0px 5px white;
}

.buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 2px;
  width: calc(100% - 4px);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
}

button.keypad {
  width: 70px;
  height: 46px;
  margin: 1px 0;
  border-radius: 10px;
  border: solid 1px gray;
  padding: 5px;
  background-color: #ddd;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  box-shadow: 0 2px #999;
  font-size: 20px;
  font-weight: 400;
}
button.keypad:active {
  /* background-color: #3e8e41;
  box-shadow: 0 5px #666; */
  transform: translateY(1px);
  font-weight: 500;
}