@import url("https://fonts.googleapis.com/css2?family=Megrim&family=Noto+Sans+KR&family=Oxygen+Mono&display=swap");

* {
  user-select: none;
  box-sizing: border-box;
  font-family: "Oxygen Mono", monospace;
}
*:focus {
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  border-radius: 2px;
  border: solid 1px white;
  padding: 0 2px;
  font-size: 12px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}
